@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  background-color: #020617;
}

a {
  color: inherit;
  text-decoration: none;
}

